.itemContent {
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #393644;
    margin-bottom: 5px;
    padding-top: 5px;

    & .profitInputContainer{
        max-width: 45px;
        width: 100%;
        margin-right: 30px;
    }
     & .targetInputContainer{
        max-width: 95px;
        width: 100%;
        margin-right:20px;
    }
    
}

.closeIcon {
    color: #393644;
    padding: 0;

    & svg {
        width: 16px;
        height: 16px;

        &:hover {
            cursor: pointer;
            color: #dadada;
        }
    }
}



