.root {
    $side-padding: 10px;

    background-color: #231f30;

    .header {
        background-color: #2b273b;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 17px;
        letter-spacing: 0.25px;
        line-height: 20px;
        padding: 10px $side-padding;
        margin-bottom: 15px;
    }

    .closeIcon {
        padding: 0;
        color: rgba(255, 255, 255, 0.5);

        &:hover {
            color: #fff;
        }
    }

    .content {
        padding: 0 $side-padding 13px;
        display: grid;
        row-gap: 8px;
    }
    
    .submit {
        margin-top: 10px;
    }

    .errorBlock {
        width: 80%;
        padding: 10px;
        color: #fff;
        background-color: #ec512e;
    }

    .disabled {
        display: none;
    }
}
